<h1>Reset Password</h1>
<form action="/reset-password/<%= token %>" method="post">
    <input placeholder="New Password" name="password" type="password" required>
    <br>
    <input placeholder="Confirm New Password" name="confirmPassword" type="password" required>
    <br>
    <input class="sub" type="submit" value="Reset Password">
</form>