<!DOCTYPE html>
<html lang="en">
<h1>Reset Password</h1>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resetpassword.css">
</head>
<form action="/reset-password/<%= token %>" method="post">
    <input placeholder="New Password" name="password" type="password" required>
    <br>
    <input placeholder="Confirm New Password" name="confirmPassword" type="password" required>
    <br>
    <input class="sub" type="submit" value="Reset Password">
</form>
